.perfil{
  display: grid;
  place-content: center;
  background-color: var(--color-bg-light);
  height: 100vh;
}
.perfilContainer{
  margin-top: 90px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.perfil__button--logOut{
  border: none;
  outline: none;
  background-color: var(--color-primary-orange);
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}