.tableOptions{
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 240px;
  margin-bottom: 20px;
  background-color: var(--color-white);
}
.tableOptions__header{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 3px solid var(--color-primary-orange);
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.tableOptions__icon{
  font-size: 24px;
}
.tableOptions__body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}